@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  touch-action: manipulation;
}

html {
  height: 100vh;
  font-size: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 2.25rem;
  font-weight: 400;
}

p {
  font-size: 1.25rem;
}

/*  Needed to hide player controls in Safari only */

video::-webkit-media-controls-panel {
  display: none !important;
}

video::-webkit-media-controls-play-button {
  display: none !important;
}

video::-webkit-media-controls-current-time-display {
  display: none !important;
}

video::-webkit-media-controls-time-remaining-display {
  display: none !important;
}

video::-webkit-media-controls-timeline {
  display: none !important;
}

video::-webkit-media-controls-mute-button {
  display: none !important;
}

video::-webkit-media-controls-volume-slider {
  display: none !important;
}

video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}

video::-internal-media-controls-download-button {
  display: none !important;
}
